apiVersion: v1
kind: Service
metadata:
  name: {{ .AppName }}
  namespace: {{ .Namespace }}
spec:
  selector:
    app: {{ .AppName }}
  ports:
    - protocol: TCP
      port: {{ .ListenPort }}
      targetPort: {{ .ListenPort }}
  type: ClusterIP
